#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #212529;
    padding: 20px;
    transition: 0.3s;
}

#menu-container:hover #sidebar{
    left: 0;
}

#sidebar a:hover{
    color: #198754;
}
#sidebar a{
    color: white;
}
