.posicionamento{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 20px;
}a

.bloco_perfil{
    background-color: var(--card-sobre-bg);
    width: 100%;
    border-radius: 8px;
    align-items: certer;
    padding: 20px;
    height: 100%;
    

}
