.blocksobre{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    gap: 40px;
    
    padding: 10px;
}

.sobretexto{
    align-items: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
}

.navsobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    width: 200px;
    border-radius: 8px;
}