
:root {
    --cor-verde: #B8860B;
    --cor-sidebar: #241D18;
    --cor-texto: white;

    /* Tema ESCURO (padrão) */
    --bg: #1E1A17;
    --text: #F3E7D3;
    --modal-bg: #2B2520;
    --modal-text: #F3E7D3;
    --input-bg: #3A312B;
    --input-text: #F3E7D3;
    --input-border: #6A5A4B;
    --card-sobre-bg: #2B2520;
    --footer-bg: #120F0D;
    --h2-color: #F3E7D3;
}

[data-theme="light"] {
    --bg: #F4E9D8;
    --text: #3B2F2F;
    --modal-bg: #FFF8EC;
    --modal-text: #3B2F2F;
    --input-bg: #FDF6EA;
    --input-text: #3B2F2F;
    --input-border: #CDBA9A;
    --card-sobre-bg: #FFF8EC;
   --footer-bg: #DCCCB5;
    --h2-color: #3B2F2F;
    --navbar-bg: #E8DCC8;
}

body{
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}
.navbar{
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--cor-sidebar);
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
}

#menu-container:hover #sidebar{
    left: 0;
}
#menu-container:hover #blur{
    opacity: 1;
}

#blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: 0.3s;
    z-index: 998;
    pointer-events: none;
}

#sidebar a{
    color: var(--cor-texto);
}

#sidebar a:hover{
    color: var(--cor-verde);
}


/*ClaroEscuro*/

#Lua{
    display: none;
    opacity: 0.8;
    
}
#Sol{
    display: block;
    opacity: 0.8;
    
}
#Sombra{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#btnClaroEscuro:checked + label #Lua{
    display: block;
}

#btnClaroEscuro:checked + label #Sol{
    display: none;
}

#btnClaroEscuro{
    display: none;
}
#fundo{
    width: 50px;
    height: 40px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

footer.bg-dark {
    background-color: var(--footer-bg) !important;
}
